extends layout

block content
  main.container
      div
        h2 Dashboard de Proyectos
      div
        | Proyecto:  
        select#Proyecto(name='Proyecto')
      br
      div
        button.btn-primary(aria-label='Left Align', data-toggle='modal', data-target='#ModalCrear')
          span.glyphicon.glyphicon-plus
          |  Agregar Tarea
      br
      .body
        .col-md-3
          p.sub Inicial
          .con
            p tarea 1
            p tarea 2
            p tarea 3
        .col-md-3
          p.sub En desarrollo
          .con
            p tarea 1
            p tarea 2
        .col-md-3
          p.sub Finalizadas
          .con
            p tarea 1
            p tarea 2
      #ModalCrear.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Crear Nueva tarea
            .modal-body
              form
                .form-group
                  label Titulo
                  input#exampleInputEmail1.form-control(type='email', placeholder='Enter tittle')
                .form-group
                  label(for='exampleTextarea')
                    | Descripcion
                  textarea#exampleTextarea.form-control(rows='3')
                .form-group.has-feedback
                  label Responsable
                  input.form-control
                  i.glyphicon.glyphicon-search.form-control-feedback
                p Estado: Inicial
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Submit
