extends layout

block content
  main.container
      
      .body
      div
        h2 Dashboard de Proyectos
      div
        | Proyecto:  
        select#Proyecto(name='Proyecto')
          each proyecto, i in proyectolist
            option #{proyecto.titulo}
      br
      div
        button.btn-primary(aria-label='Left Align', data-toggle='modal', data-target='#ModalCrear')
          span.glyphicon.glyphicon-plus
          |  Agregar Tarea
      br
      
      .col-md-3
          p.sub Inicial
          #inical.con(ondrop='drop(event)', ondragover='allowDrop(event)')
            #tarea1(draggable='true', ondragstart='drag(event)') tarea 1
      .col-md-3
          p.sub En desarrollo
          #desarrollo.con(ondrop='drop(event)', ondragover='allowDrop(event)')
            #tarea2(draggable='true', ondragstart='drag(event)') tarea 2
      .col-md-3
          p.sub Finalizadas
          #finalizado.con(ondrop='drop(event)', ondragover='allowDrop(event)')
            #tarea3(draggable='true', ondragstart='drag(event)') tarea 3
      #ModalCrear.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Crear Nueva tarea
            .modal-body
              form
                .form-group
                  label Titulo
                  input#exampleInputEmail1.form-control(type='email', placeholder='Enter tittle')
                .form-group
                  label(for='exampleTextarea')
                    | Descripcion
                  textarea#exampleTextarea.form-control(rows='3')
                .form-group.has-feedback
                  label Responsable
                  //input.form-control
                  div(ng-controller='MyCtrl')
                    autocomplete(ng-model="result" attr-placeholder="search" click-activation="false" data="movies" on-type="doSomething" on-select="doSomethingElse")   
                  i.glyphicon.glyphicon-search.form-control-feedback
                p Estado: Inicial
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Submit
      //aqui va el test usuario
      //div
      //  | Usuario:  
      //  select#Usuario(name='Usuario')
      //    each usuario, i in usuariolist
      //      option #{usuario.titulo}
      
  script(src='/bower_components/angular/angular.min.js')
  script(src='/bower_components/Autocomplete/dist/autocomplete.js')
  script(src='/public/javascript/app.js')
  script(src='/public/javascript/autocomplete.js')
