extends layout

block content
  main.container
      div
        h2 Dashboard de Proyectos
      div
        | Proyecto:  
        select#Proyecto(name='Proyecto')
      br
      div
        button.btn.btn-primary.btn-md(type='button') Agregar tarea
      br
      .body
        .col-md-3
          p.sub Inicial
          .con
            p tarea 1
            p tarea 2
            p tarea 3
        .col-md-3
          p.sub En desarrollo
          .con
            p tarea 1
            p tarea 2
        .col-md-3
          p.sub Finalizadas
          .con
            p tarea 1
            p tarea 2