doctype html
html
	head
		title Dashboard
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/public/stylesheets/style2.css', type='text/css')
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script.
			function allowDrop(ev) {
			  ev.preventDefault();
			}
			function drag(ev) {
			  ev.dataTransfer.setData("text", ev.target.id);
			}
			function drop(ev) {
			  ev.preventDefault();
			  var data = ev.dataTransfer.getData("text");
			  ev.target.appendChild(document.getElementById(data));
			}
	body
		block content