doctype html
html
	head
		title Dashboard
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
	body
		block content